body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.big{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
   background: #6F1E51;
   width: 400px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border-radius: 12px;
   
}
.display{
    width: 200px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.btn-container{
    display: flex;
    gap: 30px;
}
button{
   font-size: 20px;
   cursor: pointer;
   background: #B53471;
   color: #fff;
}
button:active{
    background: #ED4C67;
}
.title{
    font-size: 50px;
    color: #ED4C67;
    display: flex;
    justify-content: center;
    align-items: center;
}